# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Erik Tollefsrud
#	email = erik.tollefsrud@gmail.com 
[user]
	email = erik.tollefsrud@gmail.com
	name = Erik Tollefsrud
